@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rubik+Wet+Paint&display=swap');
*{
    font-family:'Embed code'

}

img{
width: 200px;
height: 150px;
}
  